<div type="button" class="btn-light card pokemon-card border-dark mb-4 my-2" role="button" [routerLink]="['/', this.pokemon.name]">
  <img class="card-img-top img-fluid" src={{this.pokemon.imageUrl}} alt="Pokemon Sprite Image">
  <div *ngIf="this.pokemon.types.length == 0; else typeDefined">
    <img class="pokemon-type-1" src="/assets/pokemon-type-images/unknown.png" alt="Pokemon Type 1 Image">
  </div>
  <ng-template #typeDefined>
    <img class="pokemon-type-1" src="/assets/pokemon-type-images/{{this.pokemon.types[0]}}.png" alt="Pokemon Type 1 Image">
  </ng-template>
  <div *ngIf="this.pokemon.types.length == 2">
    <img class="pokemon-type-2" src="/assets/pokemon-type-images/{{this.pokemon.types[1]}}.png" alt="Pokemon Type 2 Image">
  </div>
  <span class="pokemon-number text-body h5"><strong>{{this.pokemon.number}}</strong></span>
  <div class="card-body pokemon-text-box border-dark" [ngStyle]="this.AssignCardColor(this.pokemon)">
    <h5 class="card-title text-body">{{this.pokemon.name | titlecase }}</h5>
    <p class="card-text text-body"><small>
      Height: {{this.pokemon.height | number:'1.1-1'}} <span class="h6 small">[ft]</span><br>
      Weight: {{this.pokemon.weight | number:'1.1-1'}} <span class="h6 small">[lbs]</span></small>
    </p>
    <p class="card-text text-body pokemon-flavor-text"><small><span class="h6 small">
      {{this.pokemon.flavorText}}</span></small>
    </p>
  </div>
</div>